body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./banco.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.menus{
    background-color: rgba(191, 191, 240, 0.411);
    margin: 2px;
    display: block;
   

}

li{
    list-style: none;
}
.menus li{
    margin:  8px;
}
.menu-opcoes{
    list-style: none;
}

.sub-menu{
    display: flex;
    flex-direction: column;
}

.menuPrincipal{
    padding: 8px;
}
.menuPrincipal:hover{
    font-size: 16px;
    color: red;
}

.btn:hover{
    color: red;
    
}
a{
    text-decoration: none;
}

#infos-container{
    margin: 1rem;
    padding: 3rem;
    background-color: lightblue;
}

#msgEntrar{
    color: red;
    font-weight: bold;
}

.container-criarConta{
    background-color: rgba(191, 191, 240, 0.411);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}


