body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menus li{
    margin:  8px;
}
.menu-opcoes{
    list-style: none;
}

.sub-menu{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}

#infos-container{
    margin: 1rem;
    padding: 3rem;
    background-color: lightblue;
}

#msgEntrar{
    color: red;
    font-weight: bold;
}